html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 90%;
}

body {
    margin-bottom: 60px;
}

#Imagem-Progresso {
    width: 15%
}


.editar-icon:hover {
    background-color: darkgray;
    color: white;
}

.navLegal:hover {
    background-color: darkgray;
    color: white;
}

.navLegal {
    margin-top: 57px;
    top: 10px;
}

.navLegall:hover {
    background-color: darkgray;
    color: white;
}


.navLegall {
    margin-top: 7px;
    
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; 
    padding: 48px 0;
    box-shadow: 0 2px 5px rgba(5, 5, 5, 0.5); 
    overflow-y: auto; 
}

/* Ajuste para o conteúdo principal */
.content {
    margin-left: 240px;
    padding: 20px; 
}

#todolist {
    background-color: #0d6efd;
    box-shadow: 2px 5px 5px rgba(5, 5, 5, 0.5);
    text-align: center;
}
